@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Quicksand:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
  background: #151515;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.right::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.right {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.box {
  opacity: 0.6;
  background: #1b1b1d;
  font-variant-caps: all-small-caps;
}
.icon {
  transition: all 0.3s ease-in-out;
}

.cool-link {
  display: inline-block;

  text-decoration: none;
}
.hero-text {
  right: 60%;
  color: #777778;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: gray;
  transition: width 0.5s;
}

.cool-link:active::after {
  width: 100%;
}

.cool-link:hover::after {
  width: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}
.app-menu {
  color: white;
  height: 100vh;
  overflow: hidden;
  width: 15rem;
  background-color: #292929;
  z-index: 1000;

  transform: translateX(-100%);
  transition: 0.3s;

  right: 0;
  top: 0;
  padding: 10px;

  position: fixed;
  display: flex;
  flex-direction: row-reverse;
}

.menu-open {
  transform: translateX(0%);
}
@media (min-width: 768px) {
  body {
    height: 100vh;
    overflow-y: hidden;
  }
  .projects {
    left: 100%;
  }
  .box:hover {
    transition: all 0.2s ease-in-out;
    opacity: 1 !important;
    transform: scale(1.1);
  }
}
